blis==0.2.4
certifi==2023.11.17
charset-normalizer==3.3.2
ChatterBot==1.0.8
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.6
cymem==2.0.8
Flask==1.1.4  # Version 2.x might not be compatible with older dependencies
Flask-SQLAlchemy==2.5.1
greenlet==3.0.2
idna==3.6
importlib-metadata==6.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.3.2
MarkupSafe==2.1.3
mathparse==0.1.2
murmurhash==1.0.10
nltk==3.8.1
numpy==1.21.6
packaging==23.2
Pint==0.18
plac==0.9.6
preshed==2.0.1
pymongo==3.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==3.13
regex==2023.10.3
requests==2.31.0
six==1.16.0
spacy==2.1.9
SQLAlchemy==1.3.24  # Version 2.x might not be compatible with older dependencies
srsly==1.0.7
thinc==7.0.8
tqdm==4.66.1
typing-extensions==4.7.1
urllib3==2.0.7
wasabi==0.10.1
Werkzeug==1.0.1
